<div class="block block-cta-bar">
  <div class="container">
    <div class="columns">
        <div class="text">
          <p>{{ section.content }}</p>
        </div>
        <div class="cta">
          <form
            action="https://formspree.io/xdowoaov"
            method="POST"
          >
            <label>
              Your email:
              <input type="text" name="_replyto">
            </label>
            <label>
              Tell us about your competition:
              <textarea name="message"></textarea>
            </label>

            <!-- your other form fields go here -->

            <button type="submit">Submit Details</button>
          </form>
        </div>
    </div>
  </div>
</div>
